

<h2>Kullanıc Ekleme Sayfası</h2>

<form method="post" action="/user/AddUser">
    <label for="name">Kullanıcı Adı</label><br />
    <input type="text" id="FirstName" name="FirstName" /> <br />
    <label for="surname">soyadı</label><br />
    <input type="text" id="LastName" name="LastName" /> <br />
    <input type="submit" value="Kullanıcı Ekle" />
</form>